{{#each allBurgers}}
   {{#unless devoured}}
    <div class="row">
        <div class="col-md-5">
            <ul class="list-group not-eaten">
                <li class="list-group-item">{{burger_name}}</li>
            </ul>
        </div>
        <div class="col-md-2">
            <span class="input-group-btn">
                <button class="btn btn-default devour-btn" type="button" id="{{id}}">Devour It!</button>
            </span>
        </div>
        <div class="col-md-5"></div>
    </div>
    {{else}}
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <span class="input-group-btn">
               <button class="btn btn-default devour-btn" type="button" id="{{id}}">Devour It!</button>
            </span>
        </div>
        <div class="col-md-5">
            <ul class="list-group eaten">
                <li class="list-group-item" id="burger-{{id}}">{{burger_name}}</li>
            </ul>
        </div>
        </div>

    {{/unless}}
    {{/each}}
